html {
    font-family: "Lucida Sans", sans-serif;
}

         h1 {
            margin-top:10%;
            text-align: center;
         }
         
      
      .right-text{
         background: pink;
         width: 70px;
         float: right;
         margin-top: 0px;
         border: 1px solid green;
      }
      .left{
         background-color:#f1f1f1;
          float: left;
         width: 31.2%;
         margin-left: 20px;
         overflow: hidden;
         border:2px solid black;
      }
      .center{
         background-color:#f1f1f1;
          float: left;
          width: 31.2%;
          overflow: hidden;
          margin-left: 20px;
           border:2px solid black;
      }
      .right{
          background-color:#f1f1f1;
             float: left;
             width: 31.2%;
             margin-left: 20px;
             margin-right: 10px
            overflow: hidden;
             border:2px solid black;
      }

      @media  screen and (max-width:991px) {
         .mennu{
            width: 100%;
         }
  .left {
   width: 45%;
    padding: 0;
    margin-right: 10px; 
  }
  .center{
   width: 45%;
   padding: 0;
   margin-right: 10px;
  }
  .right {
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    overflow: hidden;
  }
  .right-text{
         width: 25%;
         float: right;
         background: pink;
         text-align: center;
         border:1px solid green;
       
               }
}
@media  screen and (max-width:767px) {
  .center, .left, .right {
   margin-top: 10px;
    width: 100%;
  }
  
}

